@model IEnumerable<DancingSchool.Models.School>
@using DancingSchool.Models

@{
    ViewBag.Title = "Szkoły taneczne";
}

<p>
    @if (RoleDictionary.ADMIN.Equals(Session["userRole"]))
    {
        @Html.ActionLink("Create New", "Create")
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.SchoolID })
            @if (RoleDictionary.ADMIN.Equals(Session["userRole"]))
            {
                <span>|</span>
                @Html.ActionLink("Edit", "Edit", new { id = item.SchoolID })
                <span>|</span>
                @Html.ActionLink("Delete", "Delete", new { id = item.SchoolID })
            }
        </td>
    </tr>
}

       

</table>
