@model IEnumerable<DancingSchool.Models.Course>
@using DancingSchool.Models
@{
    ViewBag.Title = "Kursy";
}


<p>
    @if (RoleDictionary.ADMIN.Equals(Session["userRole"]))
    {
        @Html.ActionLink("Create New", "Create")
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.School.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.School.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.CourseID })

            @if (RoleDictionary.ADMIN.Equals(Session["userRole"]))
            {
                <span>|</span>
                @Html.ActionLink("Edit", "Edit", new { id = item.CourseID })
                <span>|</span>
                @Html.ActionLink("Delete", "Delete", new { id = item.CourseID })
            }
        </td>
    </tr>
}

</table>
